h1{
    font-size: 28px;
}

nav ul{
    margin-right: 0px;
    float: left;
    top: 0;
}
nav ul li{
    float: left;
}
nav ul li a{
    line-height: 40px;
    padding: 0 25px;
}
nav .logo{
    padding-left: 30px;
}
nav ul li, nav ul ul li{
    display: block;
    width: 100%;
    background: none;
}
nav ul ul{
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
}    
nav ul ul ul li {
    position: static;
    width: 100%;
}
    
nav ul ul a, nav ul ul li .show {
    padding-left: 60px;
}    
nav ul ul ul a {
    padding-left: 85px;
}

nav .fas{
    width: 25px;
}
nav .fa-caret-down{
    position: absolute;
    right: 30px;
    line-height: 40px;
}
.show{
    display: block;
    color: white;
    font-size: 14px;
    padding: 0 25px;
    line-height: 40px;
    cursor: pointer;
}
.show:hover{
    /* color: #ff0a6c; */
    text-shadow: 1px 1px 5px black;
    font-weight: bold;
}

.icon{
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
    top: 5px;
}

nav ul li a:hover{
    box-shadow: none;
}

.show + a, ul{
    display: none;
}

[id^=btn]:checked + ul{
    display: block;
}


.textBox{
    color: #fff;
    text-align: center;
    /* margin-top: 130px;
    margin-left: 55px; */
    margin: 130px auto;
    width: 250px;
}

.textBox h1{
    font-size: 28px;
}
.textBox p{
    font-size: 13px;
}

.row{
    flex-direction: column;
}


.slider .crd, .courseCol{
    margin: 10px 5%;
}

/* Call to action section Started */

.cta{
    width: 90%;
    padding: 60px 20px;
}
.cta h1{
    font-size: 24px;
}

/* Call to action section Ended */

.Feedback{
    width: 90%;
    margin: 0 auto;
}

/* footer section started */

.footer{
    padding: 30px 7.5%;
}
.footer h5{
    margin-top: 20px;
}
.flink{
    margin-bottom: 20px;
}
.gotop .fas{
    margin-top: 10px;
}

/* footer section ended */

/* contact page started */

.contactHeader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/contactIMG.jpg);
}
.location{
    width: 90%;
}
.contactUs{
    width: 90%;
}
.contactCol div .fa{
    font-size: 20px;
    margin: 5px;
    margin-right: 20px;
}
.contactCol div .far{
    font-size: 20px;
    margin: 5px;
    margin-right: 20px;
}
.contactCol div h5{
    font-size: 15px;
}

/* contact page ended */

[class*="col-"] {
    width: 100%;
}

.directMail{
    padding: 30px;
}


.bdR{
    border-left: none;
    border-top: 0.5px solid gray;
}

.container{
    width: 90%;
}


.facRow{
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
}
.matRow{
    width: 100%;
}
.crsRow{
    padding: 0 10px 30px 10px;
}
.facultyINFO{
    text-align: center;
    width: 100%;
}
.crsMat{
    width: 46.5%;
}
.pdfICO{
    width: 14%;
}
.crsMat .pdfICO .fas{
    font-size: 26px;
}
.crsMat a{
    width: 82%;
}