*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #616161;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    /* padding: 10px; */
}

.dottedHR{
    border: dotted 6px #616161;
    border-bottom: none;
    margin: 10px auto;
    width: 90px;
}

.header{
    min-height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/aca_building.jpg); */
    background: url(images/homeHeader.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* Navigation Section Started */

nav{
    /* background: #1b1b1b; */
    /* background-image: linear-gradient(to left, #ff0a6c, #4a3cdb); */
    /* background-image: linear-gradient(to right, #001B48, #00a8ad); */
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8));

}
nav .fas{
    color: #00bbc2;
}
nav::after{
    content: '';
    display: table;
    clear: both;
}
nav .logo{
    float: left;
    padding: 10px 60px;
}
nav .logo img{
    width: 90px;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

    top: 5px;
}
nav ul li{
    float: left;
    display: inline-block;
    /* background: #1b1b1b; */
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 80px;
    font-size: 14px;
    padding: 8px 15px;
}

nav ul li a:hover{
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #00bbc2,
                0 0 10px #00bbc2;
}

nav ul ul li a:hover{
    /* color: #ff0a6c; */
    box-shadow: none;
    text-shadow: 1px 1px 5px black;
    font-weight: bold;
}


nav ul ul{
    position: absolute;
    top: 100px;
    border-top: 3px solid #00a8ad;    
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
}

nav ul ul li{
    background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9));
    /* background-image: linear-gradient(to right, #001B48, #00a8ad); */
    /* background-image: linear-gradient(to left, #ff0a6c, #4a3cdb); */
}

nav ul ul ul{
    border-top: none;
}

nav ul li:hover > ul{
    top: 80px;
    opacity: 1;
    visibility: visible;
}


nav ul ul li{
    position: relative;
    margin: 0px;
    width: 160px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a{
    line-height: 40px;
}

nav ul ul ul li{
    position: relative;
    top: -80px;
    left: 160px;
    width: 270px;
}

.fa-caret-right{
    margin-left: 20px;
    font-size: 13px;
}


.show, .icon, nav input{
    display: none;
}
/* -------------Navigation Section Ended --------------*/




/* .textBox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} */

.textBox{
    color: #fff;
    text-align: center;
    /* margin-top: 200px;
    margin-left: 50px;
    margin-bottom: 50px; */
    margin: 200px 50px;
    width: 40%;
}

.textBox h1{
    font-size: 40px;
}
.textBox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.heroBtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 15px;
    padding: 12px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.heroBtn:hover{
    border: 1.5px solid #00a8ad;
    background: #00a8ad;
    transition: 0.5s;
}

.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}



/* Course Design Started */

.course{
    width: 100%;
    margin: auto;
    padding-top: 80px;
}
.course h1{
    text-align: center;
    color: #001B48;
    background: #F9F9F9;
}
.courseCol{
    flex-basis: 31%;
    background-image: linear-gradient(to top, #001B48, #00bbc2);
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 5%;
    padding: 20px 0px;
    min-width: 300px;
    box-sizing: border-box;
    transition: 0.5s;
}
.cardIco{
    text-align: center;
}
.courseCol h3{
    color: #00d7df;
    background: #24292E;
    text-align: center;
    font-weight: 600;
    margin: 15px 0;
    padding: 10px;
}
.courseCol .cardDesc{
    padding: 10px 20px 10px 20px;
    text-align: center;
    line-height: 25px;
    color: #fff;
}
.cardDesc a{
    text-decoration: none;
    color: #fff;
}

.cardDesc .heroBtn:hover{
    border: 1px solid #00a8ad;
    background: #00a8ad;
    transform: scale(0.9);
}
.courseCol:hover{
    box-shadow: 0px 0px 10px 0px #555;
}

/* Course Design Ended */



/* tutorial view started */

.tutorials{
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    color: #001B48;
}
.slider{
    max-width: 1100px;
    display: flex;
    text-align: center;
    margin: 0 auto;
}
.slider .crd{
    background: #ccc;
    /* background: linear-gradient(to top, #001B48, #00a8ad); */
    flex: 1;
    margin: 0 10px;
    border-radius: 10px;
}
.slider .crd .img{
    height: 200px;
    width: 100%;
}
.slider .crd .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.slider .crd .cont{
    padding-bottom: 10px;
}
.slider .crd hr{
    width: 90%;
    margin: 0 auto;
}
.slider .crd .cont .ttl{
    font-size: 22px;
    font-weight: 600;
    /* color: #e74c3c; */
    color: #00d7df;
    background: #24292E;
    padding: 10px;
}
.crd .cont p{
    text-align: justify;
    margin: 10px 0;
    color: #000;
    padding: 0 20px;
    min-height: 130px;
}
.crd .cont .heroBtn{
    margin-top: 7px;
}
.crd .cont .heroBtn:hover{
    transform: scale(0.9);
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 11px;
    width: 11px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 1.5px solid #00a8ad!important;
    transition: all 0.3s ease;
}
.owl-dot:hover,
.owl-dot.active{
    background: #00a8ad!important;
}

/* tutorial view started */



/* We have design Started */

.weHave{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

/* We have design Ended */


/* Call to action section Started */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/ec_lab.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 80px 200px;
    box-sizing: border-box;
}
.cta h1{
    color: #fff;
    /* margin-bottom: 40px; */
    padding: 0;
}
.cta p{
    color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

/* Call to action section Ended */


/* Feedback section Started */

.Feedback{
    width: 35%;
    margin: 0 10%;
}

/* Feedback section Ended */


/* Footer section Started */

.footer{
    width: 70%;
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
    /* background: #4a3cdb; */
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fab{
    color: #00a8ad;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
    color: #00a8ad;
}

/* Footer section Ended */






/* -------About Page Started------- */


.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/AboutIMG.png);
    background-position: center;
    background-size: cover;
    /* text-align: center; */
    color: #fff;
}
.libr{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/libraryBooks.png);
}
.sub-header h1{
    margin-top: 100px;
    text-align: center;
}
.aboutUs{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.aboutCol{
    flex-basis: 48%;
    padding: 30px 2px;
}
.aboutCol img{
    width: 100%;
}
.aboutCol h1{
    padding-top: 0;
}
.aboutCol p{
    padding: 15px 0 25px;
}
.redBtn{
    border: 1.5px solid #00a8ad;
    background: transparent;
    color: #00a8ad;
}
.redBtn:hover{
    color: #fff;
}


/* -------About Page Ended------- */





/* -------Contact Page Started-------- */

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contactUs{
    width: 80%;
    margin: auto;
}
.contactCol{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contactCol div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contactCol div .fa{
    font-size: 28px;
    color: #00a8ad;
    margin: 10px;
    margin-right: 30px;
}
.contactCol div .far{
    font-size: 28px;
    color: #00a8ad;
    margin: 10px;
    margin-right: 30px;
}
.contactCol div p{
    padding: 0;
}
.contactCol div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contactCol input, .contactCol textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
textarea{
    resize: vertical;
}

/* -------Contact Page Ended-------- */




/* --------Table Design Started-------- */

table{
    border: 1px solid #616161;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    font-size: 14px;
}
th, td{
    border: 1px solid #616161;
    padding: 5px;
}
th{
    background: #00a8ad;
    color: #fff;
}
.secTable{
    text-align: center;
}
table caption{
    font-weight: bold;
    font-size: 28px;
    padding: 10px;
    margin-top: 30px;
}
tr:nth-child(even){
    background-color: #ccc;
}
tr:nth-child(odd){
    background-color: #fff;
}
tr:hover{
    background-color: #b0fcff;
}
.FacultyP{
    width: auto;
    margin: 40px auto;
    text-align: center;
    padding: 5px;
}

/* --------Table Design Started-------- */


/*--------- Result Record Started -----------*/

.container{
    padding: 1% 0%;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}
.rcard{
    background-image: linear-gradient(to top, #001B48, #00bbc2);
    /* background-image: linear-gradient(to bottom, #ff0a6c, #4a3cdb); */
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: 32%;
    margin: 10px .6%;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
}
.rcard:hover{
    box-shadow: 0px 0px 5px 0px black;
}
.rcard .rtxt{
    color: #fff;
    padding: 20px;
    text-align: center;
    line-height: 30px;
    min-height: 170px;
}
.rcard h3{
    color: #00d7df;
    background: #24292E;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    font-size: 25px;
}
.rcard .heroBtn{
    background: #fff;
    color: #00a8ad;
    border: 1.5px solid #00a8ad;
}
.rcard .heroBtn:hover{
    border: 1.5px solid #00bbc2;
    background: #00bbc2;
    color: #fff;
    /* box-shadow: 0px 0px 3px black; */
}
.container::after{
    display: table;
    content: '';
    clear: both;
}

/*--------- Result Record Ended ------------*/


/* -------Programming Tutorial Started------ */

.proTuto{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/proLap.png);
}

.proT{
    background: #24292E;
    /* height: 450px; */
}
.proT .heroBtn{
    background: #00a8ad;
    color: #fff;
    border: 1.5px solid #00a8ad;
}
.proT .heroBtn:hover{
    background: #00a8ad;
    color: #fff;
    border: 1.5px solid #fff;
    transform: scale(0.9);
}
.rcard h2{
    font-size: 30px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    padding: 60px 0px;
    font-weight: 600;
    text-shadow: 0 0 10px #000;
}

.c{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/C.jpg); }
.cpp{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/cpp.png); }
.java{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/java.jpg); }
.python{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/Python.png); }

.rtxt p{
    color: #fff;
    text-align: justify;
}
.rcard hr{
    width: 90%;
    margin: 0 auto;
}


/* -------Programming Tutorial Ended------ */


/* -------Web Tutorial Started------ */

.ht{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/html.jpg); }
.cs{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/css.jpg); }
.btsp{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/bootstrap.png); }
.js{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/javascript.png); }
.jQ{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/jquery.jpg); }
.rct{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/react.jpg); }
.NE{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/nodeEx.jpeg); }
.mSql{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/mySql.jpg); }


/* -------Web Tutorial Ended------ */


/* -------Core Course Tutorial Started------ */

.sp h2{
    font-size: 26px;
    padding: 63px 0;
}

.ds { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/data_structure.png); }
.algo { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/algotithm.jpg); }
.dm { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/discreate_math.jpg); }
.nm { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/numarical_method.png); }
.os { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/operating_sys.png); }
.toc { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/theory_comp.jpg); }
.cd { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/compiler_des.jpg); }
.aI { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/artificial_intelligence.jpg); }


/* -------Core Course Tutorial Ended------ */


/*--------- 1stop page started ------------*/

.oneHstop{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/oneLab.png);
}

.OneForm{
    margin-top: 50px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    padding: 30px;
}
.directMail{
    margin: 0 auto;
    padding: 120px;
    text-align: center;
    box-sizing: border-box;

}
.directMail p{
    color: black;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

/*--------- 1stop page ended ------------*/
