*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #24292E;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    /* padding: 10px; */
}

.dottedHR{
    border: dotted 6px #616161;
    border-bottom: none;
    margin: 10px auto;
    width: 90px;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/homeHeader.jpg);
    /* background: url(images/homeHeader.jpg); */
    background-position: center;
    background-size: cover;
    position: relative;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* Navigation Section Started */

nav{
    /* background: #1b1b1b; */
    /* background-image: linear-gradient(to left, #ff0a6c, #4a3cdb); */
    /* background-image: linear-gradient(to right, #001B48, #00a8ad); */
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8));

}
nav .fas{
    color: #f44336;
}
nav::after{
    content: '';
    display: table;
    clear: both;
}
nav .logo{
    float: left;
    padding: 15px 60px 5px 60px;
}
nav .logo img{
    height: 60px;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

    top: 5px;
}
nav ul li{
    display: inline-block;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 80px;
    font-size: 14px;
    padding: 8px 15px;
}

nav ul li a:hover{
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #f44336,
                0 0 10px #f44336;
}

nav ul ul li a:hover{
    /* color: #ff0a6c; */
    box-shadow: none;
    text-shadow: 1px 1px 5px black;
    font-weight: bold;
}

nav ul ul{
    position: absolute;
    top: 100px;
    border-top: 3px solid #f44336;    
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
}

nav ul ul li{
    background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9));
    /* background-image: linear-gradient(to right, #001B48, #00a8ad); */
    /* background-image: linear-gradient(to left, #ff0a6c, #4a3cdb); */
}

nav ul ul ul{
    border-top: none;
}

nav ul li:hover > ul{
    top: 80px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 160px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a{
    line-height: 40px;
}

nav ul ul ul li{
    position: relative;
    top: -80px;
    left: 160px;
    width: 280px;
}
.fa-caret-right{
    position: absolute;
    right: 15px;
    top: 15px;
}

.show, .icon, nav input{
    display: none;
}

/* -------------Navigation Section Ended --------------*/




.textBox{
    color: #fff;
    text-align: left;
    margin: 100px 60px;
    width: 40%;
}

.textBox h1{
    font-size: 60px;
    width: fit-content;
    border-bottom: 2px solid #f44336;
}
.textBox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.heroBtn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1.5px solid #f44336;
    border-radius: 10px;
    padding: 12px;
    font-size: 13px;
    background: #f44336;
    position: relative;
    cursor: pointer;
}
.heroBtn:hover{
    border: 1.5px solid #f44336;
    background: #f44336;
    border-radius: 50px;
    transition: 0.5s;
    transform: scale(0.95);
}
.textBox .heroBtn{
    margin-bottom: 50px;
}

.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}


/* Current Course Design Started */

.course{
    width: 100%;
    margin: auto;
    padding-top: 80px;
}
.course h1{
    text-align: center;
    color: #001B48;
}
.courseCol{
    flex-basis: 31%;
    /* background-image: linear-gradient(to right, #001B48, #f44336); */
    background: #ccc;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 5%;
    min-width: 300px;
    box-sizing: border-box;
    transition: 0.3s;
}
.courseCol h3{
    color: #f44336;
    background: #24292E;
    text-align: center;
    font-weight: 600;
    margin: 0 0 15px 0;
    padding: 10px;
}
.courseCol .cardDesc{
    padding: 10px 20px 10px 20px;
    text-align: center;
    line-height: 25px;
    color: #24292E;
}
.cardDesc a{
    text-decoration: none;
    color: #24292E;
}
.cardDesc .heroBtn{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}
.courseCol:hover{
    box-shadow: 0px 0px 10px 0px #555;
}

/* Current Course Design Ended */



/* tutorial view started */

.tutorials{
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    color: #001B48;
}
.slider{
    max-width: 1100px;
    display: flex;
    text-align: center;
    margin: 0 auto;
}
.slider .crd{
    background: #ccc;
    /* background: linear-gradient(to top, #001B48, #00a8ad); */
    flex: 1;
    margin: 10px 10px;
    border-radius: 10px;
    transition: 0.3s;
}
.slider .crd:hover{
    box-shadow: 0px 0px 10px 0px #555;
}
.slider .img{
    height: 180px;
    width: 100%;
}
.slider .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.slider .crd .cont{
    padding-bottom: 10px;
}
.slider .crd hr{
    width: 90%;
    margin: 0 auto;
}
.slider .crd .cont .ttl{
    font-size: 22px;
    font-weight: 600;
    /* color: #e74c3c; */
    color: #f44336;
    background: #24292E;
    padding: 10px;
}
.crd .cont p{
    text-align: justify;
    margin: 10px 0;
    color: #000;
    padding: 0 20px;
    min-height: 130px;
}
.crd .cont .heroBtn{
    margin-top: 7px;
    width: 100px;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 11px;
    width: 11px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 1.5px solid #f44336!important;
    transition: all 0.3s ease;
}
.owl-dot:hover,
.owl-dot.active{
    background: #f44336!important;
}

/* tutorial view Ended */



/* Call to action section Started */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/Call_2_act.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 80px 200px;
    box-sizing: border-box;
}
.cta h1{
    color: #fff;
    /* margin-bottom: 40px; */
    padding: 0;
}
.cta p{
    color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

/* Call to action section Ended */


/* Feedback section Started */

.Feedback{
    width: 35%;
    margin: 0 10%;
}
.Feedback h3{
    margin-bottom: 10px;
    color: #24292E;
}

/* Feedback section Ended */


/* -------Footer section Started------- */


.footer{
    background: #001B48;
    padding: 30px 10%;
    margin-top: 90px;
}
.fcol{    
    float: left;
}
.footer h4{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-bottom: 2px solid #f44336;
    width: fit-content;
}
.footer h5{
    margin-bottom: 10px;
    margin-top: 60px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.footer p{
    color: #fff;
    text-align: justify;
}
.flink{
    text-align: right;
}
.fcol .icons .fab{
    color: #fa6055;
    text-align: center;
    margin-left: 10px;
    padding: 6px;
    border: 1px solid #fa6055;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}
.fcol .icons .fab:hover{
    color: #001B48;
    background: #f44336;
    border: 1px solid #f44336;
    transform: scale(1.2);
    font-weight: bolder;
}
.ftop{
    text-align: right;
}
.gotop .fas{
    font-size: 25px;
    color: #f44336;
}
.gotop .fas:hover{
    color: #f44336;
    transform: scale(1.2);    
}

.footer::after{
    display: table;
    content: '';
    clear: both;
}


/* --------Footer section Ended--------- */



/* -------About Page Started------- */


.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/AboutIMG1.jpg);
    background-position: center;
    background-size: cover;
    /* text-align: center; */
    color: #fff;
}
.sub-header h1{
    margin-top: 80px;
    text-align: center;
    padding: 0 20px;
}
.aboutUs{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.aboutCol{
    flex-basis: 48%;
    padding: 30px 2px;
}
.aboutCol img{
    width: 100%;
}
.aboutCol h2{
    padding-top: 0;
}
.aboutCol p{
    padding: 15px 0 25px;
    text-align: justify;
}
.redBtn{
    border: 1.5px solid #f44336;
    background: transparent;
    color: #f44336;
}
.redBtn:hover{
    color: #fff;
}


/* -------About Page Ended------- */





/* -------Contact Page Started-------- */

.contactHeader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/contactIMG1.jpg);
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contactUs{
    width: 80%;
    margin: auto;
}
.contactCol{
    flex-basis: 48%;
    margin-bottom: 20px;
}
.contactCol div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contactCol div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contactCol div .far{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contactCol div p{
    padding: 0;
}
.contactCol div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contactCol input, .contactCol textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
textarea{
    resize: vertical;
}

/* -------Contact Page Ended-------- */




/* --------Table Design Started-------- */

table{
    border: 1px solid #616161;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    font-size: 14px;
}
table caption{
    color: #001B48;
}
th, td{
    border: 1px solid #616161;
    padding: 5px;
}
th{
    background: #f44336;
    color: #fff;
}
.secTable{
    text-align: center;
}
table caption{
    font-weight: bold;
    font-size: 28px;
    padding: 10px;
    margin-top: 30px;
}
tr:nth-child(even){
    background-color: #ccc;
}
tr:nth-child(odd){
    background-color: #fff;
}
tr:hover{
    background-color: #f79b94;
}
.FacultyP{
    width: auto;
    margin: 40px auto;
    text-align: center;
    padding: 5px;
}

/* --------Table Design Started-------- */


/*--------- Result Record Started -----------*/

.libr{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/resRecords.jpg);
}
.container{
    padding: 1% 0%;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}
.rcard{
    /* background-image: linear-gradient(to top, #001B48, #00bbc2); */
    background: #ccc;
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: 32%;
    margin: 10px .6%;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
}
.rcard:hover{
    box-shadow: 0px 0px 5px 0px black;
}
.rcard .rtxt{
    color: #24292E;
    padding: 20px;
    text-align: center;
    line-height: 30px;
    min-height: 170px;
}
.rcard h3{
    color: #f44336;
    background: #24292E;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    font-size: 25px;
}

.container::after{
    display: table;
    content: '';
    clear: both;
}

/*--------- Result Record Ended ------------*/


/* -------Programming Tutorial Started------ */

.proTuto{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/prog_tutoHead.jpg);
}

.proT{
    background: #24292E;
    /* height: 450px; */
}

.rcard h2{
    font-size: 25px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    padding: 60px 0px;
    font-weight: 600;
    text-shadow: 0 0 10px #000;
}

.c{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/c_bg.jpg); }
.cpp{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/cpp_bg.jpg); }
.java{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/java_bg.jpg); }
.python{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/python_bg.jpg); }

.rtxt p{
    color: #fff;
    text-align: justify;
    min-height: 150px;
}
.rcard hr{
    width: 90%;
    margin: 0 auto;
}


/* -------Programming Tutorial Ended------ */


/* -------Web Tutorial Started------ */

.webHeader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/webHeader.jpg);
}

.ht{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/html_bg.jpg); }
.cs{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/css_bg.jpg); }
.btsp{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/bootstrap_bg.jpg); }
.js{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/javaScript_bg.jpg); }
.jQ{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/jquery.jpg); }
.rct{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/React_bg.jpg); }
.NE{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/node_express_bg.jpg); }
.mSql{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/mySQL_bg.jpg); }


/* -------Web Tutorial Ended------ */


/* -------Core Course Tutorial Started------ */

.cseCheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/cse_core_header1.jpg);
}

.ds { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/ds_bg.jpg); }
.algo { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/algo_bg.jpg); }
.dm { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/disc_math.jpg); }
.nm { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/numarical_method_bg.png); }
.os { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/os_bg.jpg); }
.toc { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/theory_comp_bg.jpg); }
.cd { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/compiler_des_bg.jpg); }
.aI { background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/arti_inte_bg.jpg); }


/* -------Core Course Tutorial Ended------ */

/* -------Android Tutorial Started------ */

.androidheader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Android_background_header.jpg);
}
.contactCol h3{
    font-weight: 600;
    margin: 10px 0;
    color: #001B48;
}
.contactCol .ap{
    margin: 10px 0;
    text-align: justify;
    color: #000;
    margin-left: 14px;
}
.contactCol ol{
    margin-left: 30px;
    line-height: 30px;
    font-size: 14px;
}
.anl{
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)),url(images/Android_background1.jpg);
    background-size: cover;
    background-position: center;
}
.bdR{
    border-left: 1.5px solid #616161;
}

/* -------Android Tutorial Ended------ */

/* -------UI/UX Tutorial Started------ */

.uiUxHeader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/ui_ux_header.jpg);
}
.uixl{
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)),url(images/ui_ux_background.jpg);
    background-size: cover;
    background-position: center;
}

/* -------UI/UX Tutorial Ended------ */


/* -------Graphic design Tutorial Started------ */

.gdHeader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/gdHeader.jpg);
}
.sm h2{
    font-size: 23px;
    font-weight: 600;
    padding: 63px 0;
}

.gdth{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/gd_th_bg.jpg); }
.illus{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/illustrator_bg.jpg); }
.ps1{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/ps_beg_bg.jpg); }
.ps2{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/phoshop_int_bg.jpg); }
.ps3{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/ps_adv_bg.jpg); }


/* -------Graphic design Tutorial Ended------ */


/* -------Video Editing Tutorial Started------ */

.veHeader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/veHeader.jpg);
}
.ppr{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/ppr_bg.jpg); }
.afe{ background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(images/after_effect_bg.jpg); }

/* -------Video Editing Tutorial Ended------ */


/*--------- 1stop page started ------------*/

.oneHstop{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/oneStop.jpg);
}

.OneForm{
    margin-top: 50px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    padding: 30px;
}
.directMail{
    margin: 0 auto;
    padding: 120px;
    text-align: center;
    box-sizing: border-box;

}
.directMail p{
    color: black;
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

/*--------- 1stop page ended ------------*/


/* --------Course Design Started--------- */

.sub-header p{
    text-align: center;
    color: #fff;
    margin-top: 15px;
    font-size: 18px;
}
.cHeader{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/CourseHeader.jpg);
    margin-bottom: 30px;
}
.facRow{
    width: 24%;
    margin-right: 1%;
    /* box-shadow: 0 0 5px #ccc; */
}
.facRow h3{
    margin: 10px auto;
    text-align: center;
}
.matRow{
    width: 75%;
}
.matRow p{
    margin: 10px 0 0 5px;
    font-size: 15px;
}
.facultyINFO{
    text-align: center;
}
.facRow h2{
    text-align: center;
}
.facIMG img{
    width: 100px;
    border: 3px solid #ccc;
    border-radius: 30px;
}
.crsRow{
    border: 1px solid #ccc;
    border-radius: 15px;
    float: left;
    padding: 0 20px 50px 20px;
}
.crsCol h2{
    color: #ffff;
    background: #001B48;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    margin: 50px 0 10px 5px;
}
.crsMat{
    float: left;
    box-shadow: 1px 1px 2px #ccc;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    width: 32%;
    transition: 0.3s;
    background:#F6F6F6;
}
.crsMat:hover{
    transform: scale(1.02);
}
.crsMat a{
    margin-left: 4%;
    width: 83%;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 350;
    line-height: 18px;

    /* border: 1px solid; */
}
.pdfICO{
    width: 13%;
    /* background: #f79b94; */
}
.crsMat .pdfICO .fas{
    font-size: 38px;
    color: #CA0708;
}
.matEle{
    float: left;
}
.crsELink{
    margin: 30px 0 0 5px;
}
.crsRow::after{
    display: table;
    content: '';
    clear: both;
}
.crsCol::after{
    display: table;
    content: '';
    clear: both;
}

/* --------Course Design Ended--------- */